[Unit]
Description=HVAC service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 hvac.py
WorkingDirectory=/home/pi/hvac
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
